.home-img{
    width: 700px;
    height: 450px;
    object-fit: cover;
}
body{
    height: 100vh;
    overflow: auto;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn{
     font-size: large;
    margin: 2%;
    background-color: green;
    color: rgb(52, 224, 22);
    border-radius: 5px;
    padding: 10px;
}