@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rodoto', sans-serif;
}
.navSection{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: rgb(46, 7, 240);
  color: white;
}